<li class="comment-node" style="margin-left: <%= level * 16 %>px;">
  <p>
    <strong><%= comment.user.email_address %></strong>
    • <%= time_ago_in_words(comment.created_at) %> trước
  </p>
  <p><%= comment.content %></p>
  <p>
    <%= link_to "Reply", new_user_post_comment_path(user, post, parent_id: comment.id) %>
  </p>

  <% if comment.replies.any? %>
    <ul class="comment-children">
      <%= render partial: "comment",
                 collection: comment.replies.order(created_at: :asc),
                 as: :comment,
                 locals: { user: user, post: post, level: level + 1 } %>
    </ul>
  <% end %>
</li>