<h1>Tạo bình luận mới</h1>

<%= form_with url: post_comments_path(@post), method: :post, local: true, data: { turbo: false } do %>
  <% if defined?(@comment) && @comment&.errors&.any? %>
    <div class="error-messages">
      <h3><%= pluralize(@comment.errors.count, "lỗi") %> cần sửa:</h3>
      <ul>
        <% @comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :parent_id, @comment&.parent_id %>

  <div class="form-group">
    <%= label_tag :content, "Nội dung bình luận:" %>
    <%= text_area_tag :content, nil, rows: 4, cols: 50, required: true, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= submit_tag "Tạo bình luận", class: "btn btn-primary" %>
    <%= link_to "Hủy", post_comments_path(@post), class: "btn btn-secondary" %>
  </div>
<% end %>