<h1>Chỉnh sửa bài viết</h1>

<%= form_with model: [@user, @post], local: true do |form| %>
  <% if @post.errors.any? %>
    <div style="color: red;">
      <p><%= pluralize(@post.errors.count, "lỗi") %> cần sửa:</p>
      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, "Tiêu đề" %><br>
    <%= form.text_field :title, required: true %>
  </div>

  <div>
    <%= form.label :content, "Nội dung" %><br>
    <%= form.text_area :content, rows: 8, required: true %>
  </div>

  <div>
    <%= form.label :visibility, "Trạng thái" %><br>
    <%= form.select :visibility, options_for_select([["Công khai", 0], ["Riêng tư", 1]], @post.visibility) %>
  </div>

  <div style="margin-top: 10px;">
    <%= form.submit "Cập nhật bài viết" %>
    <%= link_to "Hủy", user_post_path(@user, @post) %>
  </div>
<% end %>