<h1>Chỉnh sửa bài viết</h1>

<%= form_with url: user_post_path(@user, @post), method: :patch, local: true, data: { turbo: false } do %>
  <% if defined?(@post) && @post&.errors&.any? %>
    <div style="color: red;">
      <p><%= pluralize(@post.errors.count, "lỗi") %> cần sửa:</p>
      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= label_tag :title, "Tiêu đề" %><br>
    <%= text_field_tag :title, @post.title, required: true %>
  </div>

  <div>
    <%= label_tag :content, "Nội dung" %><br>
    <%= text_area_tag :content, @post.content, rows: 8, required: true %>
  </div>

  <div>
    <%= label_tag :visibility, "Trạng thái" %><br>
    <%= select_tag :visibility, options_for_select([["Công khai", 0], ["Riêng tư", 1]], @post.visibility) %>
  </div>

  <div style="margin-top: 10px;">
    <%= submit_tag "Cập nhật bài viết" %>
    <%= link_to "Hủy", user_post_path(@user, @post) %>
  </div>
<% end %>