<h1>Tạo bài viết mới</h1>

<%= form_with url: user_posts_path(Current.user), method: :post, local: true, data: { turbo: false } do %>
  <% if defined?(@post) && @post&.errors&.any? %>
    <div style="color: red">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= label_tag :title, "Tiêu đề:" %>
    <%= text_field_tag :title, params[:title], required: true %>
  </div>

  <div>
    <%= label_tag :content, "Nội dung:" %>
    <%= text_area_tag :content, params[:content], required: true, rows: 10, cols: 50 %>
  </div>

  <div>
    <%= label_tag :visibility, "Trạng thái:" %>
    <%= select_tag :visibility,
                   options_for_select([['Công khai', 0], ['Riêng tư', 1]], params[:visibility]) %>
  </div>

  <div>
    <%= submit_tag "Tạo bài viết" %>
  </div>
<% end %>

<%= link_to "Quay lại", user_posts_path(Current.user) %>