<h1><%= @post.title %></h1>
<p>
  By: <%= @user.email_address %> |
  <%= time_ago_in_words(@post.created_at) %> trước |
  Trạng thái:
  <%= @post.visibility == 0 ? "Công khai" : "Riêng tư" %>
</p>

<div>
  <h3>Nội dung</h3>
  <div>
    <%= simple_format(@post.content) %>
  </div>
</div>

<%= link_to "Chinh sua", edit_user_post_path(@user, @post) if @user == Current.user %>
<%= button_to "Xoa", user_post_path(@user, @post), method: :delete, data: { turbo_confirm: "Are you sure?" } if @user == Current.user %>

<hr>

<%= link_to "Bình luận", user_post_comments_path(@user, @post) %>

<p>
  <%= link_to "Quay lại danh sách", user_posts_path(@user) %>
</p>